<h1>Trips Dashboard</h1>

<p>Average Ride Duration: <%= @avg_duration %></p>
<p>Longest Ride: <%= "Longest Ride: #{@longest_trip.duration} minutes from #{@longest_trip.start_station.name} to #{@longest_trip.end_station.name} on #{@longest_trip.start_date}" %></p>
