<table>
  <th>Name</th>
  <th>Quantity</th>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td class="title-#{cart_item.id}"><%= cart_item.title %></td>
    <td class="quantity-#{cart_item.id}"><%= cart_item.quantity %></td>
    <td class="image-#{cart_item.id}"><img src='item.jpg' alt='item_image'></td>
  </tr>
  <% end %>
</table>
