 @import "bootstrap";
 @import "welcome";

 li {
   list-style: none;
 }

button:disabled,
button[disabled]{
  background-color: red;
}

body {
  background-color: #C6D7E6;
}

h1 {
  color: #8E4316;
  font-style: italic;
  text-align: center;
}
